body {
    font-family: Arial, sans-serif;
    background-color: #292e3d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.titlemic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.titlemic img {
    margin-right: 10px;
    max-height: 50px;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.xcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.highContainer, .lowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.input1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #132c64;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #152031;
}

.result {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 15px;
        box-shadow: none;
        border-radius: 0;
    }

    h1 {
        font-size: 20px;
        text-align: center;
    }

    .input1 {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .result {
        font-size: 16px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    input[type="number"], button {
        font-size: 14px;
        padding: 8px;
    }

    .result {
        font-size: 14px;
    }
}